<p>condicionales works!</p>

<div>valor de la variable: {{visible}}</div> 
<input type="button" (click)="cambiarValor()" value="cambiar valor a {{literalMostrar}}">

<h3 *ngIf="visible"> Miralo antes de que desaparezca!</h3>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     